{% extends 'recommandation/base.html' %}
{% load staticfiles %}
{% load my_templatetag %}
{% block content %}
<div class="box">
    <div class="col-lg-12 text-center">
        <h2>top</h2>
    </div>
</div>
{% for livre in livres %}
<div class="box">
    <div class="col-lg-12">

        <h3>
            <a href="{% url 'Livres:detail' livre_id=livre.id %}"> {{ livre.titre }} </a>
        </h3>

        <div class="container col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <a href=" {% url 'Livres:detail' livre_id=livre.id %}">
                        <img class="img-responsive img-border img-left" src="{{ livre.image_livre }}" alt="{{ livre.titre }}" style=" max-width: 150px">
                    </a>
                </div>

                <div class="col-lg-8">
                    <p>Auteur :
                        {% for auteur in livre.auteurs.all %}
                        <a href="{% url 'Livres:livre_par_auteur' livre_auteur=auteur.id %}"> {{ auteur.nom}}</a>
                        {% endfor %}
                    </p>
                    <p>Date de publication originale : {{ livre.date_parution }}</p>
                    <p>Genres :
                        {% for genre in livre.genres.all %}
                        <a href="/"> {{ genre.nom}} </a>
                        {% endfor %}

                    </p>

                    <div class="star-rating">
                        <form id="{{livre.id}}">
                            {% csrf_token %}
                            <span class="fa fa-star-o" data-rating="1" onclick="submitform({{livre.id}},1)"></span>
                            <span class="fa fa-star-o" data-rating="2" onclick="submitform({{livre.id}},2)"></span>
                            <span class="fa fa-star-o" data-rating="3" onclick="submitform({{livre.id}},3)"></span>
                            <span class="fa fa-star-o" data-rating="4" onclick="submitform({{livre.id}},4)"></span>
                            <span class="fa fa-star-o" data-rating="5" onclick="submitform({{livre.id}},5)"></span>
                            <input type="hidden" id="book{{livre.id}}" name="book" value="{{livre.id}}"/>
                            <input type="hidden" id="user{{livre.id}}" name="user" value="{{user.username}}"/>
                            <input type="hidden" id="note{{livre.id}}" value="{% get_obj livre user %}"/>
                        </form>
                    </div>

                    <hr class="detail-separator">

                    <div>
                        <p>Description :</p>
                        <span class="more">{{ livre.desctiption }}</span>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}

